/* css styles */
.sidebar-header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-header .logo img {
  max-width: 150px; /* Adjust the value as needed */
  height: auto;
}